.header {
  padding: 50px 0 45px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__list-item:not(:last-child) {
    margin-right: 28px;
  }

  &__list-link {
    padding: 0 2px 4px;
    border-bottom: 1px solid transparent;
    font-size: 15px;
    color: $primary-neutral;
    transition: border-color 0.4s;
    @extend %rubik-500;

    &:hover {
      border-color: $primary-dark;
    }

    &:focus {
      @extend %outline-primary;
    }
  }

  &__list-link--active {
    border-color: $primary-dark;
  }
}

.user-nav {
  display: flex;

  &__search {
    margin-right: 20px;
  }

  &__like,
  &__cart {
    width: 90px;
    border-radius: 25px 0 0 25px;
    background-color: #fcd7b6;
  }

  &__cart {
    border-radius: 0 25px 25px 0;
    margin-right: 20px;
  }

  &__link {
    &:focus {
      @extend %outline-primary;
    }
  }
}