.benefits {
  &__inner {
    background-color: $bg-secondary-light;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include media("<=screen-md") {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    @extend %flexcenter;
    padding: 45px 0;

    svg {
      align-self: flex-start;
      width: 50px;
      fill: $primary-light;
    }

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;
    }

    @include media("<=screen-bg") {
      flex-direction: column;
      text-align: center;
    }

    @include media("<=screen-md") {
      padding: 15px 0;

      &:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid #e8e4df;
      }
    }
  }

  &__wrap {
    position: relative;
    align-self: flex-start;
    margin-right: 30px;

    &::before {
      @extend %beforeafter;
      right: -4px;
      bottom: 5px;
      width: 20px;
      height: 20px;
      background-color: rgba(163, 187, 200, 0.34);
      border-radius: 50%;
    }

    @include media("<=screen-bg") {
      align-self: center;
    }
  }

  &__wrapper {
    max-width: 215px;

    @include media("<=screen-bg") {}
  }

  &__title {
    margin-bottom: 10px;
    @include font('DM Sans', 700);
    @include line-clamp(18px, 1, 1);
    color: $secondary-dark;
    font-size: 18px;
    line-height: 1;
  }

  &__text {
    @include font('DM Sans', 400);
    @include line-clamp(16px, 1.8, 2);
    color: $secondary-neutral;
    max-width: 200px;
    text-overflow: ellipsis;
  }
}