.partners {
  padding: 90px 0;
  @extend %flexcenter;
  background-color: $bg-secondary-light;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    .slick-slide {
      outline: transparent;
    }
  }

  &__link {
    @extend %flexcenter;
    min-height: 90px;

    &:focus {
      outline: transparent;
    }
  }
}