$title: #191919;

$primary-darker: #222933;
$primary-dark: #243f4d;
$primary-neutral: #436372;
$primary-light: #a3bbc8;
$primary-lighter: #bad6e6;

$secondary-darker: #262626;
$secondary-dark: #414141;
$secondary-neutral: #585858;
$secondary-light: #8b8b8b;

$footer-default: #7b7b7b;
$footer-title: #1f2044;

$bg-secondary-dark: #fcd7b6;
$bg-secondary-neutral: #feefe2;
$bg-secondary-light: #fef7f0;

%beforeafter {
  content: "";
  position: absolute;
}

%bgimage {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

%flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%outline-primary {
  outline: 1px solid $primary-neutral;
}

%outline-secondary {
  outline: 1px solid $secondary-neutral;
}